// global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6d7b93);
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-4 {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;
}
.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

// ---ADMIN-MENU---
.AdminNav {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  padding-left: 30px;
}
.AdminLink {
  color: black;
}
.AdminLink:hover {
  text-decoration: underline;
  color: #6d7b93;
}
